streamlit==1.32.0
requests==2.31.0
PyMuPDF==1.23.26
plotly==5.19.0
spacy==3.7.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
numpy==1.26.4
